In [10]:
import re
import pandas as pd

In [15]:
ds = pd.read_csv('ds.csv')
ds.head(2)

,linkedinProfile,email,headline,location,imgUrl,firstName,lastName,fullName,subscribers,connectionDegree,...,schoolDateRange2,website,schoolDescription,schoolDescription2,connectionsCount,birthday,error,twitter,mail,facebookUrl
0,https://www.linkedin.com/in/srimmele/,NaN,Data Science & Engineering,"New York, New York, United States",https://media-exp1.licdn.com/dms/image/C4D03AQ...,Simon,Rimmele,Simon Rimmele,556.0,2nd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.linkedin.com/in/tom-haxton-4a231b89/,NaN,Data Science Manager at Quora,San Francisco Bay Area,https://media-exp1.licdn.com/dms/image/C4E03AQ...,Tom,Haxton,Tom Haxton,2590.0,2nd,...,2000 – 2004,nanotheory.lbl.gov/people/TomHaxton.html,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
to_keep = ['linkedinProfile', 'fullName', 'description', 'company', 'jobTitle', 'location', 'school'
          ,'schoolDegree', 'allSkills', 'skill1', 'endorsement1', 'skill2', 'endorsement2', 'skill3', 
           'endorsement3', 'skill4', 'endorsement4', 'skill5', 'endorsement5', 'skill6', 'endorsement6']

In [14]:
ds = ds[to_keep]

In [ ]:
ds.dropna(inplace=True)

In [ ]:
def find_github_url(des):
    try:
        matched_result = re.search("(?P<url>https?://[^\s]+)", des).group()
    except AttributeError:
        matched_result = re.search("(?P<url>https?://[^\s]+)", des)
    return matched_result

ds['github_urls'] = ds['description'].apply(find_github_url)

In [ ]:
ds = ds[['linkedinProfile', 'fullName', 'github_urls', 'description', 'company', 'jobTitle', 'location', 'school'
          ,'schoolDegree', 'allSkills', 'skill1', 'endorsement1', 'skill2', 'endorsement2', 'skill3', 
           'endorsement3', 'skill4', 'endorsement4', 'skill5', 'endorsement5', 'skill6', 'endorsement6']]

In [ ]:
#ds.to_excel('ds_processed.xlsx')

In [ ]:
de = pd.read_csv('de.csv')
de.head(2)

In [ ]:
de = de[to_keep]

In [ ]:
de.dropna(inplace=True)

In [ ]:
de['github_urls'] = de['description'].apply(find_github_url)

In [ ]:
de = de[['linkedinProfile', 'fullName', 'github_urls', 'description', 'company', 'jobTitle', 'location', 'school'
          ,'schoolDegree', 'allSkills', 'skill1', 'endorsement1', 'skill2', 'endorsement2', 'skill3', 
           'endorsement3', 'skill4', 'endorsement4', 'skill5', 'endorsement5', 'skill6', 'endorsement6']]

In [ ]:
#de.to_excel('de_processed.xlsx')